.card__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

h4 {
    margin: 1rem 0 0 0;
}

.card__footer--percentage {

    font-size: 1.5rem;
}

.card__footer--success {
    flex: 1;
    font-size: 0.8rem;
    padding: 0 0.5rem;
}

.card__footer--icon {
    flex: 2;
    align-self: flex-end;
}

.arrow__icon {
    width: 0.8em;
}