.screenplay__analytics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: var(--color-background);
}

.movies__wrapper {

  background: url("/src/images/mask_group_2.svg") no-repeat;
  width: 100%;
}

.movies__wrapper--inner {
  width: 50%;
  margin: 0 auto;
}

.movies__top--section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.report__description {
  display: flex;
  justify-content: space-around;
}


.screenplay__analytics--bottom {
  display: flex;
}

.bottom__wrapper {
  background-color: #ffffff;
  height: 18vh;
  width: 54vh;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary-btn {
  background-color: #1e3f71 !important;
  color: #fcfcfc !important;
}

.primary-btn:hover {
  background-color: #ffffff;
  color: #02183a;
}

@media only screen and (max-width: 425px) {
  .screenplay__analytics {
    padding: 0 1rem;
  }

  .movies__wrapper--inner {
    width: 95%;
    margin: 0 auto;
  }

  .screenplay__analytics--bottom {
    display: flex;
    flex-direction: column;
  }

  .report__description {
    display: flex;
    flex-direction: column;
  }
}
